/* Resets Generales*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../img/2.svg);
	background-size: cover;
	background-position: center center;
	font-family: 'Barlow', sans-serif;
	font-size: 16px;
}

a {
	list-style: none;
	text-decoration: none;
	font-family: 'Advent Pro', sans-serif;
	font-weight: bold;
	color: $color-2;
}

h1 {
	font-family: 'Advent Pro', sans-serif;
}

h2 {
	font-family: 'Advent Pro', sans-serif;
}

p {
	font-family: 'Barlow', sans-serif;
	font-weight: lighter;
}

ul {
	text-decoration: none;
	list-style: none;
	font-family: 'Advent Pro', sans-serif;
}