.contact-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-info {
	color: $color-2;
	max-width: 500px;
	line-height: 65px;
	padding-left: 50px;
	font-size: 18px;
	flex: 1;
	i {
		margin-right: 20px;
		font-size: 25px;
	}
}
.contact-form {
	max-width: 700px;
	margin-right: 50px;
	flex: 1;
	h2 {
		color: $color-2;
		text-align: center;
		font-size: 35px;
		margin-bottom: 30px;
	}
	.text-box {
		background: $color-1;
		color: black;
		border: none;
		width: calc(50% - 10px);
		height: 50px;
		padding: 12px;
		font-size: 15px;
		border-radius: 5px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		margin-bottom: 20px;
		opacity: 0.9;
		&:first-child {
			margin-right: 15px;
		}
	}
	textarea {
		background: $color-1;
		color: black;
		border: none;
		width: 100%;
		padding: 12px;
		font-size: 15px;
		min-height: 200px;
		max-height: 400px;
		resize: vertical;
		border-radius: 5px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		margin-bottom: 20px;
		opacity: 0.9;
	}
	.send-btn {
		float: right;
		background: $color-1;
		color: black;
		border: none;
		width: 120px;
		height: 40px;
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-radius: 5px;
		cursor: pointer;
		transition: 0.3s;
		transition-property: background;
		&:hover {
			background: black;
			color: #F2E6FD;
		}
	}
}
@media screen and (max-width: 950px) {
	.contact-section {
		flex-direction: column;
	}
	.contact-info {
		margin: 30px 50px;
	}
	.contact-form {
		margin: 30px 50px;
		h2 {
			font-size: 30px;
		}
		.text-box {
			width: 100%;
		}
	}
}
